* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: blue;
    background-color: aliceblue;
    margin-bottom: 30px;
    text-decoration: underline;
}

h2 {
    font-size: 1.5em;
    color: blue;
}

main {
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

dt {
    margin: 0px 0px 5px 0px;
    font-size: 1em;
    font-weight: bold;
    color: blue;
}

button {
    color: white;
    background: blue;
    height: 30px;
    width: 100px;
    margin: 10px 0 5px 0;
    border-radius: 8px;
    border: 1px solid black;
    font-weight: bold;
}

button:hover {
    font-weight: bold;
    text-decoration: none;
    border: 0px;
    background-image: linear-gradient(170deg,
            black,
            #0044ff,
            black);
    border-radius: 8px;
    color: #fff;
    padding: 7px;
    cursor: pointer;
    transform: .3s;
}

footer {
    background-color: blue;
    border-radius: 10px;
    color: white;
    text-align: center;
}